@import "../variables";

.errorPage {
    @include flexColumn(column);
    text-align: center;
    margin: $marginOneRem;

    h1 {
        font-size: 2rem;
        font-weight: 400;
        margin: $marginOneRem;
    }
}